<mat-sidenav-container dir="rtl">
  <mat-sidenav  [ngClass]="{'sidenav-customer-details': showCustomerDetails}" class="sidenav-defaults" mode="side" [opened]='true'>
    <app-customer-detail [hidden]="!showCustomerDetails"></app-customer-detail>
    <app-advanced-search [hidden]="!showAdvancedSearch"></app-advanced-search>
  </mat-sidenav>
  <mat-sidenav-content>



    <kendo-grid [data]="gridView" style="height:100%;" [pageable]="true" [pageSize]="25" [skip]="0" [filterable]="true">
      <ng-template kendoGridToolbarTemplate [position]="'top'">
        <button kendoButton [icon]="'filter'" (click)='popAdvancedSearch()'>סינון מתקדם</button>
        <button kendoButton [icon]="'excel'">אקסל</button>
      </ng-template>
      <kendo-grid-messages noRecords="לא נמצאו תוצאות.">
      </kendo-grid-messages>
      <kendo-grid-column field="MerhavName" title="מרחב"  width="110">
        <ng-template kendoGridFilterCellTemplate >
          <kendo-dropdownlist [data]="['יהודה','המרכז','דן','הצפון']" [id]="'CategoryName'" [value]="'הכל'">
          </kendo-dropdownlist>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="SnifName" title="סניף"  width="110">
          <ng-template kendoGridFilterCellTemplate>
            <kendo-dropdownlist [data]="['גבעת שמואל','כיכר המדינה','תל אביב','בן יהודה']" [id]="'CategoryName'" [value]="'הכל'">
            </kendo-dropdownlist>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="SnifId" title="מס' סניף" width="110">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
          </kendo-grid-string-filter-cell>
            </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="SnifIdOriginal" title="סניף מקור" width="120" [filterable]="false">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
          </kendo-grid-string-filter-cell>
        </ng-template>
        
      </kendo-grid-column>
      <kendo-grid-column field="CheshbonId"   title="חשבון" width="105">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
          </kendo-grid-string-filter-cell>
        </ng-template>
       
      </kendo-grid-column>
      <kendo-grid-column field="EffectiveDate"   title="תאריך פ.ח" width="150" [filterable]="true">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-date-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
          </kendo-grid-date-filter-cell>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="CheshbonName"   title="שם" width="170">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

          <a style="color: blue;cursor: pointer;" (click)="popCustomerDetails(customersTabSideNav);">{{dataItem.CheshbonName}}</a>

        </ng-template>
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
          </kendo-grid-string-filter-cell>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="ChativaYeshut" title="שיוך ארגוני" width="120">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
          </kendo-grid-string-filter-cell>
        </ng-template>
      </kendo-grid-column>
      <!-- <kendo-grid-column field="AnafMishkiName" title="ענף משק" width="180">
  </kendo-grid-column> -->
      <kendo-grid-column field="Obligo" title="אובליגו" width="130" [filterable]="true">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-numeric-filter-cell  [column]="column" [filter]="filter">
          </kendo-grid-numeric-filter-cell>
        </ng-template>
      </kendo-grid-column>
      <!-- <kendo-grid-column field="TsuaRwaCalc" title="תשואה לנכסי סיכון" width="120">
  </kendo-grid-column> -->
      <kendo-grid-column field="ElGrp" title="דירוג נוכחי" width="125">
      </kendo-grid-column>
      <kendo-grid-column field="ElGrp1" title="דירוג קודם" width="125">
      </kendo-grid-column>
      <kendo-grid-column field="CurrentRankName" title="ציון" width="125">
      </kendo-grid-column>
      <kendo-grid-column field="PrevRank1" title="ציון קודם" width="125">
      </kendo-grid-column>
      <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
        <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
        <kendo-pager-info></kendo-pager-info>

      </ng-template>
    </kendo-grid>
  </mat-sidenav-content>

</mat-sidenav-container>