<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      פרטי סניף
    </mat-panel-title>
   
  </mat-expansion-panel-header>


<div>
  <label>שיוך ארגוני :</label>
  <mat-radio-group  >
    <mat-radio-button value="auto" style="margin-right:5px;">קמעונאית</mat-radio-button>
    <mat-radio-button value="always" style="margin-right:5px;">עסקית</mat-radio-button>
    <mat-radio-button value="never" style="margin-right:5px;">פיננסית</mat-radio-button>
  </mat-radio-group>
</div>
<div>
  <label>סיווג לקוח :</label>
  <mat-radio-group>
    <mat-radio-button value="auto" style="margin-right:5px;">איכותי</mat-radio-button>
    <mat-radio-button value="always" style="margin-right:5px;">פוטנמציאל</mat-radio-button>
    <mat-radio-button value="never" style="margin-right:5px;">עסקי</mat-radio-button>
  </mat-radio-group>
</div>


</mat-expansion-panel>