<mat-card style="margin: 5px;">
  <mat-card-title>כהן אלברט</mat-card-title>
  <mat-card-subtitle>הלקוח הינו בעל ותק של 10 שנים מדורג טוב - 5 , בעבר היה בטיפול משפטי.</mat-card-subtitle>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>account_circle</mat-icon>פרטים כללים
          </mat-panel-title>

        </mat-expansion-panel-header>

        <div class='customerDetailsSection' style="display: flex;flex-direction: row">
          <div>
            <table style="border-collapse: collapse;">
              <tr>
                <th>חשבון</th>
                <td>123456</td>
              </tr>
              <tr>
                <th>מס סניף</th>
                <td>1</td>
              </tr>
              <tr>
                <th>תאריך פ.ח</th>
                <td>01/01/1980</td>
              </tr>
              <tr>
                <th>שיוך ארגוני</th>
                <td>חטיבה קמעונאית</td>
              </tr>
            </table>
          </div>
          <div>
            <table style="border-collapse: collapse;">
              <tr>
                <th>ענף משק</th>
                <td>123456</td>
              </tr>
              <tr>
                <th>אובליגו</th>
                <td>1000</td>
              </tr>
              <tr>
                <th>תשואה לנכסי סיכון</th>
                <td>3.25% </td>
              </tr>
              <tr>
                <th>דירוג נוכחי</th>
                <td>5 -טוב</td>
              </tr>
            </table>
          </div>
          <div>
            <table style="border-collapse: collapse;">
              <tr>
                <th>חשבון</th>
                <td>123456</td>
              </tr>
              <tr>
                <th>מס סניף</th>
                <td>1</td>
              </tr>
              <tr>
                <th>תאריך פ.ח</th>
                <td>01/01/1980</td>
              </tr>
              <tr>
                <th>שיוך ארגוני</th>
                <td>חטיבה קמעונאית</td>
              </tr>
            </table>
          </div>
          <div>
            <table style="border-collapse: collapse;">
              <tr>
                <th>ענף משק</th>
                <td>123456</td>
              </tr>
              <tr>
                <th>אובליגו</th>
                <td>1000</td>
              </tr>
              <tr>
                <th>תשואה לנכסי סיכון</th>
                <td>3.25% </td>
              </tr>
              <tr>
                <th>דירוג נוכחי</th>
                <td>5 -טוב</td>
              </tr>
            </table>
          </div>

        </div>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>network_check</mat-icon> ציונים ודירוגים
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div style="display: flex;flex-direction: row;">
          <div style="flex:1;">
            <table style="border-collapse: collapse;width:100%;">
              <tr>
                <th>תאריך</th>
                <th>ציון</th>
                <th>דירוג</th>
              </tr>
              <tr>
                <th>20/10/2018</th>
                <td>3</td>
                <td>1</td>
              </tr>
              <tr>
                <th>20/9/2018 </th>
                <td>5</td>
                <td>4</td>
              </tr>
              <tr>
                <th>20/7/2018 </th>
                <td>6</td>
                <td>7</td>
              </tr>
              <tr>
                <th>20/6/2018 </th>
                <td>4</td>
                <td>5</td>
              </tr>
            </table>
          </div>
          <div>
            <kendo-chart style="width: 300px; height: 150px;" [categoryAxis]="{ categories: categories }">
              <kendo-chart-title text=""></kendo-chart-title>
              <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
              <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
              <kendo-chart-series>
                <kendo-chart-series-item *ngFor="let item of series" type="line" style="smooth" [data]="item.data" [name]="item.name">
                </kendo-chart-series-item>
              </kendo-chart-series>
            </kendo-chart>
          </div>
        </div>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>monetization_on</mat-icon> משכנתאות
          </mat-panel-title>
          <!-- <mat-panel-description>
          This is a summary of the content
        </mat-panel-description> -->
        </mat-expansion-panel-header>

        <table style="border-collapse: collapse;width:100%;">
          <tr>
            <th>מס'</th>
            <th>יתרה לסילוק</th>
            <th>יתרת כספי זכאות</th>
            <th>שיעור מימון מקורי</th>
            <th>יחס החזר</th>
            <th>קבוצת דירוג משכנתאות</th>
            <th>עומק פיגור</th>
          </tr>
          <tr>
            <td>1</td>
            <td>300</td>
            <td>200</td>
            <td>100</td>
            <td>50</td>
            <td>1</td>
            <td>3</td>
          </tr>
          <tr>
            <td>2</td>
            <td>300</td>
            <td>200</td>
            <td>100</td>
            <td>50</td>
            <td>1</td>
            <td>3</td>
          </tr>
          <tr>
            <td>3</td>
            <td>300</td>
            <td>200</td>
            <td>100</td>
            <td>50</td>
            <td>1</td>
            <td>3</td>
          </tr>


        </table>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button kendoButton [icon]="'excel'">אקסל</button>
    <button style="margin-right: 5px;" kendoButton [icon]="'printer'">הדפסה</button>
    <button style="margin-right: 5px;" kendoButton [icon]="'saturation'">סימולטור תשואה</button>
    <button style="margin-right: 5px;" kendoButton [icon]="'reddit'">סימולטור דירוג</button>
    <button style="margin-right: 5px;" kendoButton [icon]="'heart-outline'">תן הלוואה</button>
    <button style="margin-right: 5px;" kendoButton [icon]="'heart-outline'">חשבון חדש</button>
  </mat-card-actions>
</mat-card>